/* For several purposes */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.primary-text {
    color: rgb(116, 114, 114);
    font-size: 18px;
}

.primary-header {
    color: rgb(105, 104, 104);
    font-size: 30px;
}

.button {
    display: block;
    width: 120px;
    color: white;
    background: linear-gradient(45deg, rgb(247, 155, 89), rgb(255, 139, 56), rgb(255, 106, 0));
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    padding: 3% 5%;
    margin: 8% 2%;
    border-radius: 30px;
}

/* top-header section */
#top-header {
    width: 95%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 1%;
}

.top-banner {
    width: 46%;
    padding: 1%;
}

.top-banner h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(133, 121, 121);
}

.top-banner span {
    color: rgb(255, 166, 0);
}

.top-banner img {
    width: 100%;
    height: 100%;
}

/* About me section  */
#about-section-parent {
    margin-top: 8%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/abt-me-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.about-section-child {
    width: 35%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-bg {
    width: 100%;
    height: 100%;
}

.img {
    background-image: url(images/abt-me.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* My recipies section */
#my-recipies-title {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

#food-card-container {
    display: flex;
    justify-content: center;
}

.food-card {
    width: 25%;
    border-radius: 20px;
    padding: 2%;
    margin: 1%;
    box-shadow: 3px 5px 15px silver;
}

.food-card h2 {
    font-size: 30px;
}

.food-img {
    border-radius: 20px;
    height: 230px;
    margin: auto;
}

#img-1 {
    background-image: url(images/food-1.jpg);
    background-size: cover;
}

#img-2 {
    background-image: url(images/food-2.png);
    background-size: contain;
}

#img-3 {
    background-image: url(images/food-3.png);
    background-size: cover;
}

/* Followers section */
#followers-container {
    width: 80%;
    margin: 5% auto;
    padding: 3% 2%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 5px 5px 15px silver;
}

.followers-count {
    width: 20%;
    padding: 2%;
    text-align: center;
}

.number {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bolder;
}

.platform {
    margin: 0;
    padding: 0;
}

/* Footer part  */
footer {
    color: whitesmoke;
    font-size: small;
    text-align: center;
    background-color: black;
    height: 200px;
    padding: 15px;
}

#footer-title {
    font-size: 30px;
    font-weight: bolder;
    color: gray;
}

#gradient-text {
    background: linear-gradient(to right, rgb(255, 189, 65), orange);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}